@charset "UTF-8";

span.space {
    margin-left: 50px;
}

span.black {
    color: black;
}

span.white {
    color: white;
}

span.blue {
    color: rgb(63, 87, 194);
}

span.blueviolet {
    color: blueviolet
}

span.lightblue {
    color: rgb(80, 188, 255);
}

span.pink {
    color: rgb(185, 64, 189);
}

span.green {
    color:rgb(78, 153, 78)
}

span.transparente {
    color: rgba(116, 116, 116, 0.3);
}