@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* começo do header */

header {
    display: flex;
    background-color: rgb(15, 15, 20);
    align-items: center;
    justify-content: center;
    padding: 17px 10%;
    transition: 0.6s;
}

header:hover {
    background-color: rgb(17,17,23);
    transform: scale(1.2);
}

.nav {
    list-style: none;
    font-weight: 500;
    font-size: 110%;
}

.nav li a {
    display: flex;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    color: white;
}

.nav li {
    display: inline-block;
    padding: 0px 20px;
}

.nav li a:hover {
    color: rgb(161, 102, 255);
    transform: scale(1.5);
}

div.h2 {
    padding-left: 35%; 
    margin: 5px;
    color: white;
}

/*final do header*/

/*Começo do footer */

footer {
    background-color: rgb(15, 15, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    transition: 0.3s;
    margin-top: 34vh;
}

footer:hover {
    background-color: rgb(17,17,23);
}

.sp {
    color: white;
    text-decoration: none;
    display: flex;
    text-align: center;
}

/*final do footer */

/*começo do conteúdo*/

body {
    background-color: rgb(21, 19, 29);
}

section { /*responsivar esta área*/
    position: relative;
    margin: auto;
    top: 20px;
    max-width: 1200px;
    min-width: 360px;
}

p {
    margin: 5%;
    font-size: 130%;
    text-align: justify;
    text-indent: 5px;
    color: white;
}

h1 {
    margin: 5%;
    font-size: 200%;
    text-align: justify;
    text-indent: 5px;
    color: white;
}